{% extends "app/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        <h3>Friend Manager</h3>

        <h4>Add a Friend</h4>

        <form method="post">
            {% csrf_token %}
            {{ form.username }}

            <button class="btn btn-primary" type="submit">Add</button>
        </form>

        <h4>Remove a Friend</h4>
        <div id="friend-list">
                {% for friend in friends %}
                    <a href = "#" class = "list-group-item friend-list-item"
                        data-id = '{{ friend.id }}'
                        data-username= '{{ friend.username }}'
                        data-firstname= '{{ friend.first_name }}'
                        data-lastname= '{{ friend.last_name }}'
                        data-location= '{{ friend.last_location.geojson }}'
                        data-modified= '{{ friend.modified }}'>
                        <h4 class = "list-group-item-heading">{{ friend.username }}</h4>
                        <p class = "list-group-item-text">{{ friend.modified }}</p>
                    </a>
                {% endfor %}
            </div>
    {% else %}
            <div class="alert alert-warning">
                <strong>Warning!</strong> You are not logged in.
            </div>
        {% endif %}
    </div>
{% endblock %}
