{% extends "app/base.html" %}

{% load staticfiles %}
{% load leaflet_tags %}

{% block content %}
    <div class="flexbox-container">
        <section>
            <div id="friend-bar">
                <ul id="ul-friends">
                    <li id="ul-search">
                        {% csrf_token %}
                        <form id="form-friend-add">
                            {{ form }}
                        </form>
                    </li>
                    {% for friend in friends %}
                        <li>{{ friend.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section>
            <p id="geom" style="visibility: hidden; display: none">{{ object.last_location.geojson }}</p>
            <script>
                function map_init(map, options) {
                    var geom = JSON.parse($("#geom").html());
                    var myLatLon = L.latLng([geom.coordinates[1], geom.coordinates[0]]);

                    geom = L.geoJson(geom);
                    geom.addTo(map);

                    map.setView(myLatLon, 16);
                }
            </script>
            {% leaflet_map "map" callback="map_init" %}
        </section>

        <script type="text/javascript">
            function resize() {
                var heights = window.innerHeight;
                document.getElementById("map").style.height = heights-40 + "px";
            }
            resize();
            window.onresize = function() {
                resize();
            };
        </script>
    </div>

{% endblock %}
