{% extends "app/base.html" %}

{% load staticfiles %}
{% load leaflet_tags %}

{% block content %}
    <div class="flexbox-container">
        <section>
            <div id="friend-bar">
                <ul class="list-group">
                    <li id="ul-search">
                        {% csrf_token %}
                        <form id="form-friend-add">
                            {{ form }}
                        </form>
                    </li>
                    {% for friend in friends %}
                        <li class="list-group-item ">
                            <a href="#">{{ friend.username }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section>
            <p id="geom" style="visibility: hidden; display: none">{{ object.last_location.geojson }}</p>
            <script src="{% static "app/js/map_init.js" %}"></script>
            {% leaflet_map "map" callback="map_init" %}
        </section>

        <script src="{% static "app/js/map_resize.js" %}"></script>
    </div>

{% endblock %}
