{% extends "app/base.html" %}

{% load staticfiles %}
{% load leaflet_tags %}

{% block content %}
    <div class="flexbox-container">
        <section>
            {% for friend in friends %}
                <a href = "#" class = "list-group-item">
                    <h4 class = "list-group-item-heading">{{ friend.username }}</h4>
                    <p class = "list-group-item-text">{{ friend.modified }}</p>
                </a>
            {% endfor %}
        </section>

        <section>
            <p id="geom" style="visibility: hidden; display: none">{{ object.last_location.geojson }}</p>
            <script src="{% static "app/js/map_init.js" %}"></script>
            {% leaflet_map "map" callback="map_init" %}
        </section>

        <script src="{% static "app/js/map_resize.js" %}"></script>
    </div>

{% endblock %}
