body {
	font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  	margin: 0 auto;
}

header {
    height: 40px;
}

.app-header {
    color: #286ac0;
    font-weight: bold;
    font-size: larger;
}
.app-header-small {
    color: #286ac0;
    font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li {
	border: 1px solid #DDDDDD;
	height: 50px;
	padding: 2px 0 2px 5px;
	text-align: left;
}

h3 {
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-style: italic;
    color: #2c5742;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: medium;
}

.error {
    color: red;
    background-color: yellow;
}

.flexbox-container {
	display: flex;
	flex-flow: row;
 	justify-content: center;
}
.flexbox-container > section:nth-child(1) {
	width: 20%;
    height: 100%;
}
.flexbox-container > section:nth-child(2) {
	width: 80%;
    height: 100%;
}
